<head>
  <title>FalcaSupplyChain</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- <meta http-equiv="Content-Security-Policy" content=
    "default-src 'self' data: gap: ms-appdata: https://ssl.gstatic.com android-webview-video-poster:default_video_poster/ 'unsafe-inline' 'unsafe-eval';
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/ https://fonts.gstatic.com/ http://fonts.googleapis.com/ http://fonts.gstatic.com/;
    media-src *;
    connect-src 'self' http://192.168.0.101:3001 ws://192.168.0.101:3001;
    script-src 'self' https://ajax.googleapis.com 'unsafe-inline';
    font-src 'self' https://fonts.googleapis.com/ https://fonts.gstatic.com/"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  {{>noInternet}}
  <div id="app"></div>
  <script>
    var WebFontConfig = {
      google: { families: ['Roboto:400,300,500:latin'] }
    };
    (function () {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</body>