.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 40pt;
    width: 100%;
    background-color: #f2f2f2;
    margin: 0 auto;
    white-space: nowrap;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14pt;
    color: #202022;
}
.cards-tabs {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 36pt;
}
.cards-tile-margin {
    margin-top: 85pt;
}
.tabs .tab a {
    color: #939292;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14pt;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2pt;
    background-color: #8e24aa;
    will-change: left, right;
}
.aadhaar-img-card{
    margin-bottom: 8pt;
    margin-right: 8pt;
    margin-left: 8pt;
}
.tabs-cards {
    background-color: white;
    padding: 12pt;
    margin-bottom: 12pt !important;
    line-height: 1.1 !important;
    position: relative;
}
.fixedPosition{
    position: fixed;
}
.tabs-cards .icon {
    height: 12pt;
    margin-right: 15pt;
}
.tabs-cards .valuebox {
    display: flex;
}
.detail-cards-margin{
    margin-top: 55pt;
}
.card-margin{
    margin-left: 8pt;
    margin-right: 8pt;
}
.tabs-cards.row .col {
    padding: 0;
}
.margin_name{
    margin-bottom: 2pt;
}
.margin_location{
    margin-bottom: 10pt;
}
.margin_date{
    margin-bottom: 5pt;
}
.cardcount{
    float: right;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 15px;
    padding: 10px 16px;
}
.dropdown-content li {
  min-height: 35px;
}
.errormessage{
    color: red;
    font-size: 10pt;
    position: absolute;
    margin-top: -15pt;
    font-family: $font-family;
font-weight: 400;
}
.selectactive{
    position: absolute !important;
    top: -26px !important;
    font-size: 0.8rem !important;
}