nav .nav-wrapper span.bh1 {
    color: #FFFFFF;
}
nav .nav-wrapper #backbutton {
    margin-right: 24pt;
}
nav .nav-wrapper #backbutton .back-behaviour-back-button-wrapper img {
    padding-top: 16px;
}
.header-menu-fixed {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}