.placeholder{
	border: 1px solid #90a8b2;
	padding: 10pt 3pt !important;
	text-align: center;
	font-size: 6pt;
	height: 120px;
	margin-top: 10px;

	img{
		margin: 4pt;
		width: 70%;
	}

	.bh4{
		font-size: 8pt;
	}
}

.datepickericon {
	right: 12pt;
	position: absolute;
	width: 12pt;
	height: 12pt;
	top: 0;
	margin-top: 5%; }

.images{
	border: 1px solid #90a8b2;	
	padding: 1pt!important;
	text-align: center;
	height: 120px;
	margin-top: 10px;
	img{
		margin: 2pt;
		width: 70%;
	}
	.action-buttons{
		padding-left: 2pt;
		padding-right: 2pt;
		display: flex;
		justify-content: space-around;
		img{
			height: 20pt;
			width: unset;
		}
	}
	.bh4{
		font-size: 8pt;
	}
}