
@import "variable.scss";

//Header

@mixin headercommon($font-weight,$font-size,$color){
    font-family : Roboto;
    font-weight:$font-weight; 
    font-size : $font-size;
    color: $color;
}

.h1{   
    @include headercommon($light,16pt,$white);
}

.h2a{
    text-transform: $text_transform_up;
    @include headercommon($regular,14pt,$text_primary_color);
}
.h2b{
    @include headercommon($regular,14pt,$text_tertiary_color);
}
.h3{
    @include headercommon($thin,14pt,$text_secondary_color);
}
.h4{
    @include headercommon($thin,12pt,$text_secondary_color);
    text-transform: $text_transform_up;
}

//End Header

// Body Text

.bh1{
    @include headercommon($medium,12pt,#8e24aa);
}
.bh2{
    @include headercommon($regular,12pt,rgb(82, 82, 82));
    text-transform: $text_transform_up;
}
.bh3{
    @include headercommon($regular,12pt,rgb(124, 124, 124));
    line-height : 18.4pt;
    text-transform : $text_transform_up;
}
.bh4{
    @include headercommon($regular,10pt,rgb(147, 146, 146));
}
.mbh4{
    @include headercommon($regular,10pt,rgb(147, 146, 146));
    color:black;
}
.bh4a{
    @include headercommon($regular,10pt,rgb(96, 96, 96));
    text-transform : $text_transform_up;
}
.bh5
{
    @include headercommon($regular,8pt, rgb(0, 189, 19));
    text-transform : $text_transform_up;
}
//End  Body Text




/* TABS START */
  .tab_bg{
    background:$white;
    height: 40pt;
    
  } 
  /*tab active is bootstrep class so _m added*/
   .tab_active{
    color : #8e24aa;
    width : 160pt;
    height : 2pt;
   }
/* TABS END */


.buttonprimarycolor {
    color: $white;
    background-color:$primary_color;
    text-transform: uppercase;
    font-size: 10pt;
}
.buttonsecondarycolor {
    color : $white;
    background-color: rgba(0, 189, 19, 1);
    text-transform: uppercase;
    font-size: 10pt;    
}
.buttontertiary {
    color : $white;
    background-color:rgba(147, 146, 146, 1);
    text-transform: uppercase;
    font-size: 10pt;    
}

.buttonred {
    color : $white;
    background-color:rgb(233, 21, 21);
    text-transform: uppercase;
    font-size: 10pt;    
}
.buttonstyle {
    display: inline-block;   
    font-weight: $regular;
    text-align: center;   
    vertical-align: middle;      
    padding: 6pt 15pt;   
    border-radius: 8pt; 
    cursor: pointer;  
    line-height: 1 !important;
}
#sales_inventory .salesGrade{
    width:30%;
    height: 15pt;
    margin-bottom:5pt;
}