#forgotpassword-dropdown-list{
	background: $white;
	height: -webkit-fill-available;
	.image-box{
		background: $primary-color;
		padding: 30pt;
	}
	.login-form-box{
		padding-top:15pt;
	}
	.input-field input {
		border-bottom: 1px solid #EBEBEB !important;
		text-transform: initial;
		text-align: center;
	}
	label{
		text-align: center;
	}
	.input-field input:focus + label {
		@include headercommon($regular,10pt,rgb(147, 146, 146));
		
	}
	.input-field input:focus{
		border-bottom: 1px solid #EBEBEB !important;
		box-shadow: none;
	}
	div#resetPassword{
		width: 80%;
		padding-top: 9pt;
		padding-bottom: 9pt;
		border-radius: 5pt;
    }
    div#sendEmail{
		width: 80%;
		padding-top: 9pt;
		padding-bottom: 9pt;
		border-radius: 5pt;
	}
}