nav .nav-wrapper {
background: #8e24aa;
padding: 0 8pt;
}
.side-nav .user-view {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #8e24aa;
}
.side-nav .image-container {
    background: white;
    border-radius: 50%;
    padding: 20pt;
    width: 75pt;
    height: 75pt;
}
.side-nav-icons{    
    width: 16pt;
}
.side-nav-text{
    margin-left: 12pt;
    font-family: Roboto;
    font-Weight: 400;
    font-size: 12pt;
    text-transform: uppercase;
    color: #202022;
}
nav .nav-wrapper .button-collapse img {
    width: 16pt;
    height: 16pt;
    margin-top: 17.5px;
}
nav .nav-wrapper #falcalogo img {
    margin-top: 20px;
}
nav .nav-wrapper ul.right li #noticount img {
    width: 12pt;
    height: 12pt;
    margin-top: 20px;
}
nav .nav-wrapper ul.right li #noticount sup {
    top: -10pt;
    left: -9pt;
    background: yellow;
    font-size: 80%;
    padding: 2pt;
    text-align: center;
    border-radius: 10pt;
    color: black;
}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.nested-dropdown{
    padding-left: 55pt !important;
}
.nested-dropdown-icon{
    width: 12pt;
    float: right;
    margin-top: 10pt;
}
.side-nav li > a {    
    font-family: Roboto;
    font-Weight: 400;
    font-size: 12pt;
    text-transform: uppercase;
    color: #202022;
}
.isVerified{
    color:green;
}
.notVerified{
    color:red;
}
.nav-grade{
    padding:10pt 10pt 10pt 0pt;
}
.nav-qty{
    padding-top:5pt;
}