#assignment_cards .row {
    margin-bottom: 8pt;
    margin-right: 8pt;
    margin-left: 8pt;
}
#assignment_cards .row .col.s12 {
    padding-left: 0;
    padding-right: 0;
}
.card-icon {
    background-color: #8e24aa;
    min-width: 100pt;
    height: 100%;
    padding: 25pt 18pt;
}
.card-icon-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14pt;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10pt;
}
.home-card-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 26pt;
    text-transform: uppercase;
    color: #202022;
    display: inline-block;
    text-align: center;
}
.home-cards {
    display: flex;
    background-color: white;
    border: 1pt solid #C6C6C6;
    height: 100pt;
    box-shadow: 0pt 2.38pt 2.38pt rgba(0, 0, 0, 0.2);
}
.home-card-count {
    padding: 20pt 10pt;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    background: #f2f2f2;
    text-transform: capitalize;
}
body{
    background: #f2f2f2;
}
.sales-card{   
    background-color: #8e24aa;   
    height: 100pt;
    box-shadow: 0pt 2.38pt 2.38pt rgba(0, 0, 0, 0.2);
}
.sales-card-text{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 13pt;
    text-transform: uppercase;
    color: #FFFFFF;  
    padding: 5pt 10pt; 
    height: 50pt;
}
.sales-card-count{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20pt;
    text-transform: uppercase;
    background-color: #FFFFFF;
    padding-top: 10pt;
    padding-bottom: 10pt;
}