#login-dropdown-list{
	background: $white;
	height: -webkit-fill-available;
	.image-box{
		background: $primary-color;
		padding: 30pt;
	}
	.login-form-box{
		padding-top:15pt;
	}
	.input-field input {
		
		text-transform: initial;
		text-align: center;
	}
	label{
		text-align: center;
	}
	.input-field input:focus + label {
		@include headercommon($regular,10pt,rgb(147, 146, 146));
		
	}
	.input-field input:focus{		
		box-shadow: none;
	}
	div#btnsignin{
		width: 80%;
		padding-top: 9pt;
		padding-bottom: 9pt;
		border-radius: 5pt;
	}
}
.loginbtn{
	margin-top: 20pt;
}