#transportAdd {
    width: 95%;
}

.pop-title {
    padding: 12pt;
    background: #8e24aa;
    border-radius: 0pt;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14pt;
    color: #FFFFFF;
}

.model-pop-body {
    padding: 12pt;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 12pt;
    padding-right: 6pt;
    float: right;
}

.modalbutton-margin {
    margin-top: 12pt;
    margin-bottom: 12pt;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#notification-page {
    padding-right: 8pt;
    padding-left: 8pt;
}

#notification-page .row .notificationtile {
    padding: 8pt 5pt;
}

#notification-page .row .h4 {
    font-weight: 500;
}

#notification-page .row .bh5 {
    text-transform: uppercase;
    color: #202022;
}

.errormsg {
    width: 100%;
}

.add_User {
    margin-top: -5px;
}

.card-top {
    margin-top: 10px;
}

.buttondisable {
    color: #ffffff;
    background-color: #939292;
    text-transform: uppercase;
    font-size: 10pt;
}

.trPadding>td {
    padding: 5px;
}