.container-fluid{
    padding: 0;
}

.backg{
    height: -webkit-fill-available;
    background: white;
}
.profilerow{
    margin-bottom: 0;
    .header{
        background: $primary_color;
        height: 194pt;
        padding-top:10pt;
        .image-box{
            img{
                width: 152pt;
                height: 152pt;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                border-radius: 50%;
            }
        }
        .pencil{
            position: absolute;
            bottom: 16pt;
            right: 0;
            .fa.fa-pencil{
                color:white;
            }
        }
    }

    .information{
        background:white;
        padding: 0;
        .tab-headers{
            padding: 0;
            .tabs {
                .tab {
                    a:hover, a.active {
                        @include headercommon($medium,12pt,$text_primary_color);
                        border-bottom: 2pt solid #8e24aa;                        
                    }
                    a {
                        @include headercommon($light,12pt,$text_tertiary_color);
                        color : #7C7C7C;                        
                    }
                }
                .indicator{
                    background-color: transparent;
                }
            }
        }

        .personal-info, .contact-info{
            text-align: left;
            padding: 10pt;
            overflow: hidden;
            .right, .left, .top{
                padding:0;
                .col-12{
                    padding:0;
                    margin-bottom: 10pt;
                }
                .col-12:last-child{
                    margin-bottom: 0;
                }
            }
            .data-block {
                padding: 0;
                float: left;
                .title_{
                    margin-bottom: 10pt;
                }
                .value_{
                    margin-bottom: 0;
                    font-size: 10pt;
                }
                input{
                    border-bottom:0;
                    color:$text_primary_color;
                    height: 19px;
                }
            }
            .top{
                float:none;
                margin-bottom: 10pt;
            }
            .right{
                padding: 0 0 0 8pt;
            }
        }
    }

    .update-btn{
        padding-left:0;
        padding-right:0;
        margin-top: 22pt;
        margin-bottom: 20pt;
        width: 80pt;
    }
}
.enablebutton{
    opacity: inherit !important;
    pointer-events: auto !important;
}
.disabledbutton{
    pointer-events: none;
    opacity: 0.4;
}