// Color
$global_background_color:rgba(242, 242, 242, 1);
$primary_color:#8e24aa;
$secondary_color:rgba(0, 189, 19, 1);
$tertiary_color:rgba(32, 32, 34, 1);
$white:#FFFFFF;

// TEXT COLOR
$text_primary_color:rgba(32, 32, 34, 1);
$text_secondary_color:rgba(51, 51, 51, 1);
$text_tertiary_color:rgba(147, 146, 146, 1);
$text_background_color:rgba(242, 242, 242, 1);

//Text
$text_transform_up:uppercase;

//FONT
$font-family:Roboto;
$thin:100;
$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;

@mixin font($fontweight,$fontstyle){
    font-weight:$fontweight;
    font-style:$fontstyle;
}