<template name="productDetail">
    {{#if GlobalEqual currentUser.profile.Role "SuperAdmin"}}
    <div class="detail-cards-margin" id="productSpin">
        <div class="overlay"></div>
        {{#each products}}
        <div class="tabs-cards row card-margin">
            <div class="h2a col s12 margin_name">
                {{this.Name}}
            </div>
            <div class="bh3 col s12 margin_location">
                {{this.Category}}
            </div>
            <div class="row bh1 col s12 valuebox">
                <div>{{#each unit in this.Units}} {{unit}}{{#unless lastIndex this.Units @index}}, {{/unless}} {{else}}
                    No units {{/each}}</div>
            </div>
            <div class="col s12">
                {{#if this.isAlive}}
                <div class="buttontertiary buttonstyle enable_disable" id="enable"> Enable</div>
                {{else}}
                <div class="buttonsecondarycolor buttonstyle enable_disable" id="disable"> Disable</div>
                {{/if}}
                <div class="buttonred buttonstyle delete_product" id="delete_product"> Delete </div>
            </div>
        </div>
        {{/each}}
        {{#if productsCount}}
        <div class="row">
            <div class="center-align">
                <div class="buttonprimarycolor buttonstyle loadmore">
                    Load more
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    {{else}}
    {{> noData}}
    {{/if}}
    {{> confirmationModal msg="Are you sure, you want to delete this Product?" modalFor="deleteProduct" }}
    <script>
        $(document).on('scroll', function () {
            if ($("#confirmModal").is(":visible")) {
                $('body').addClass("fixedPosition");
            } else {
                $('body').removeClass("fixedPosition");
            }
        }) 
    </script>
</template>