<template name="homepage">
    <div class="container-fluid" id="assignment_cards">
        {{# if GlobalEqual currentUser.profile.Role "StoreManager"}}
        <div class="row">
            <div class="col s12">
                <div class="col s6">
                    {{> sales_card_assignment title="GODOWN  INVENTORY"  count=godown_inventory_count id="godown_inventory"}}
                </div>
                <div class="col s6">
                    {{> sales_card_assignment title="PRE ORDER INVENTORY"  count=preorder_inventory_count id="preorder_inventory"}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s6">
                    {{> sales_card_assignment title="SHIPPING ORDER"  count=shipping_order_count id="shipping_order"}}
                </div>
                <div class="col s6">
                    {{> sales_card_assignment title="START TRANSPORT"  count=start_transport_count id="start_transport"}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s6">
                    {{> sales_card_assignment title="SALES INVENTORY"  count=sales_inventory_count id="sales_inventory"}}
                </div>
                <!-- <div class="col s6">
                    {{> sales_card_assignment title="ACTIVE POSTINGS"  count=product_post_cancel_count id="product_post_cancel"}}
                </div>                  -->
            </div>
        </div>
        {{else}}
        <div class="row">
            {{> card_assignment title="ADDRESS" icon="/img/homeicons/aadhar.svg" unassigned=unassignedFarmer_count assigned=assignedFarmer_count id="aadhar_approval_card"}}
        </div>
        <div class="row">
            {{> card_assignment title="PRODUCT" icon="/img/homeicons/product.svg" unassigned=unassignedProduct_count assigned=assignedProduct_count id="product_approval_card"}}
        </div>
        <div class="row">
            {{> card_assignment title="LOAD" icon="/img/homeicons/loadimg.svg" unassigned=unassignedLoad_count assigned=assignedLoad_count id="load_approval_card"}}
        </div>
        <div class="row">
            {{> card_assignment title="UNLOAD" icon="/img/homeicons/loadimg.svg" unassigned=unassignedUnload_count assigned=assignedUnload_count id="unload_approval_card"}}
        </div>
        <div class="row">
            {{> card_assignment title="CONSUMER" icon="/img/homeicons/loadimg.svg" unassigned=unassignedConsumer_count assigned=verifiedConsumer_count  id="consumer_approval_card"}}
        </div>
        {{#if GlobalEqual currentUser.profile.Role "SuperAdmin"}}
        <div class="row">
            {{> card_assignment title="BIDS" icon="/img/homeicons/rupee.svg" unassigned=yet_tobid_products assigned=bids_in_progress  id="godown_bids_card"}}
        </div>
        {{/if}}
        {{/if}}
    </div>
    {{> foot}}
</template>