<template name="profile">
    {{#HammerTouchArea gestureMap=templateGestures}}
    <div class="container-fluid backg" id="profileSpin" style="margin-top: 36pt;">
        <div class="overlay"></div>
        <div class="row profilerow">
            <div class="col-12 header">
                <div class="col-12 image-box">
                    <img src="/img/profile.jpg">
                </div>
            </div>
            <div class="col-12 information">
                <div class="col-12 tab-headers">
                    <ul class="tabs">
                        <li class="tab col-6">
                            <a class="active personal" href="#personal-info">
                                <h2a>Personal</h2a>
                            </a>
                        </li>
                        <li class="tab col-6">
                            <a class="contact" href="#contact-info">
                                <h2a>Contact</h2a>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="personal-info" class="personal-info col-12">
                    <div class="col-12 data-block top">
                        <p class="title_ bh4">Name</p>
                        <p class="h2a value_">{{currentUser.profile.Name}}</p>
                    </div>
                    <div class="col-12 data-block top">
                        <p class="title_ bh4">Email</p>
                        <p class="h2a value_" style="text-transform:lowercase">{{currentUser.profile.email}}</p>
                    </div>
                </div>
                <div id="contact-info" class="contact-info col-12">
                    <div class="row">
                        <div class="col-6 data-block left">
                            <div class="col-12">
                                <p class="title_ bh4">District</p>
                                <p class="h2a value_">{{currentUser.profile.Address.District}}</p>
                            </div>
                            <div class="col-12">
                                <p class="title_ bh4">State</p>
                                <p class="h2a value_">{{currentUser.profile.Address.State}}</p>
                            </div>
                        </div>
                        <div class="col-6 data-block right">
                            <div class="col-12">
                                <p class="title_ bh4">Mobile Number
                                    <span style="padding-left:5pt">
                                        <i class="material-icons" id="editphone" style="font-size:11pt">edit</i>
                                    </span>
                                </p>
                                {{#if editphone}}
                                <div class="h2a">
                                    <p class="h2a value_">
                                        <input disabled type="text" class="validate" value={{currentUser.profile.Phone.Primary}}>
                                    </p>
                                </div>
                                {{else}}
                                <div class="h2a" style="margin-top:-6px;">
                                    <input id="txtphone" type="number" class="validate" value={{currentUser.profile.Phone.Primary}}>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="buttonsecondarycolor buttonstyle disabledbutton" id="updatephone">
                            Update
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });       
    </script>
    {{/HammerTouchArea}}
</template>