<template name="header">
    <nav>
        <div class="nav-wrapper">
            <ul id="slide-out" class="side-nav">
                <li id="mini-profile">
                    <div class="user-view">
                        <div align="center">
                            <div class="image-container">
                                <img src="/img/user.svg" alt="" class="img-circle" width="40px">
                            </div>
                            {{#if currentUser}}
                            <a href="/profile">
                                <span class="white-text name">{{currentUser.profile.Name}}</span>
                            </a>
                            <a>
                                <span class="white-text name">{{currentUser.profile.Phone.Primary}}</span>
                            </a>
                            {{/if}}
                        </div>
                    </div>
                </li>
                {{#if GlobalAreNotEqual currentUser.profile.Role "StoreManager"}}
                {{#if GlobalEqual currentUser.profile.Role "Admin"}}
                <li>
                    <a href="/profile">
                        <img src="/img/homeicons/profile.svg" class="side-nav-icons">
                        <span class="side-nav-text">Profile</span>
                    </a>
                </li>
                {{/if}}
                <li>
                    <a href="/fieldTeamMemberList">
                        <img src="/img/homeicons/user.svg" class="side-nav-icons">
                        <span class="side-nav-text">Field Member</span>
                    </a>
                </li>
                <li>
                    <a href="/salesMembersList">
                        <img src="/img/homeicons/user.svg" class="side-nav-icons">
                        <span class="side-nav-text">Sales Member</span>
                    </a>
                </li>
                <li>
                    <a href="/storeManagerList">
                        <img src="/img/homeicons/user.svg" class="side-nav-icons">
                        <span class="side-nav-text">Store Manager</span>
                    </a>
                </li>
                <li id="transport">
                    <a href="/addTransport">
                        <img src="/img/homeicons/truck.svg" class="side-nav-icons">
                        <span class="side-nav-text">Add Transport </span>
                    </a>
                </li>
                {{#if GlobalEqual currentUser.profile.Role "SuperAdmin"}}
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">
                                <img src="/img/homeicons/about.svg" class="side-nav-icons">
                                <span class="side-nav-text">Charges</span>
                                <span><img src="/img/homeicons/arrowdown.svg" class="nested-dropdown-icon"></span>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/falcaServiceCharges" class="nested-dropdown">Service Charges</a></li>
                                    <li><a href="/falcaTransportCharges" class="nested-dropdown">Transport Charges</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/adminList">
                        <img src="/img/homeicons/user.svg" class="side-nav-icons">
                        <span class="side-nav-text">Admin List</span>
                    </a>
                </li>
                {{/if}}
                <li>
                    <a href="/farmerList">
                        <img src="/img/homeicons/user.svg" class="side-nav-icons">
                        <span class="side-nav-text">Farmer List</span>
                    </a>
                </li>
                {{#if GlobalEqual currentUser.profile.Role "SuperAdmin"}}
                <li id="product">
                    <a href="/ProductDetail">
                        <img src="/img/homeicons/products.svg" class="side-nav-icons">
                        <span class="side-nav-text">Products</span>
                    </a>
                </li>
                {{/if}}
                {{/if}}
                {{#if GlobalEqual currentUser.profile.Role "StoreManager"}}
                <li>
                    <a href="/localTransport">
                        <img src="/img/homeicons/truck.svg" class="side-nav-icons">
                        <span class="side-nav-text">Add Local Transport</span>
                    </a>
                </li>
                <li>
                    <a href="/godownWastage">
                        <img src="/img/homeicons/godownwaste.svg" class="side-nav-icons">
                        <span class="side-nav-text">Godown Wastage</span>
                    </a>
                </li>
                <li>
                    <a href="/unloadedWastage">
                        <img src="/img/homeicons/wastage.svg" class="side-nav-icons">
                        <span class="side-nav-text">Unloaded Wastage</span>
                    </a>
                </li>
                {{/if}}
            </ul>
            <a data-activates="slide-out" class="button-collapse">
                <img src="/img/menu.png">
            </a>
            <ul>
                <li>
                    <a href="/home" id="falcalogo">
                        <img src="/img/falcalogowhite.svg" width="66pt" height="18pt" alt="falcalogo">
                    </a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a id="noticount" href="/notification">
                        <img src="/img/notification.svg">
                        <sup>{{count_Notifications}}</sup>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            $('.button-collapse').sideNav({
                menuWidth: 300,
                edge: 'left',
                closeOnClick: true,
                draggable: true,
            })
        });
    </script>
</template>