<template name="commonheader">
    <nav class="header-menu-fixed">
        <div class="nav-wrapper">
            <ul>
                <li id="backbutton">
                    {{#BackButton}}
                    <img src="/img/arrowback.png" alt=""> {{/BackButton}}
                </li>
            </ul>
            <ul>
                <li>
                    <span class="bh1">{{title}}</span>
                </li>
            </ul>
        </div>
    </nav>
</template>