<template name="noData">
    <div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="card blue lighten-2">
					<div class="card-content white-text">
						<span class="card-title">Nice Job!!!</span>
						<p>Everything is completed. No need to panic, we will soon hook you up with some work.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>