<template name="login">
  <div class="container-fluid" id="login-dropdown-list">
    <div class="overlay"></div>
    <div class="row">
      <div class="image-box col s12">
        <div align="center">
          <img src="/img/falcalogo_white.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="login-form-box col s8 offset-s2">
        <div class="input-field ">
          <input id="login-useremail" type="email" required>
          <label for="login-useremail" class="bh4">Email *</label>
        </div>
        <div class="input-field ">
          <input id="login-password" type="password" class="bh2" required>
          <label for="login-password" class="bh4">Password *</label>
        </div>
        <div align="center" class="loginbtn" style="padding-bottom:10pt;">
          <div class="buttonprimarycolor buttonstyle" id="btnsignin">Login</div>
        </div>
      </div>
    </div>
  </div>
</template>