<template name="consumerCard">
    <div class="detail-cards-margin aadhaar-img-card registeredconsumer">
        <div class="row">
            <div class="home-cards">
                <div class="col s7" style="padding-left: 0px">
                    <div class="card-icon center-align">
                        <div class="card-icon-text">
                            REGISTERED CONSUMER
                        </div>
                    </div>
                </div>
                <div class="col s5">
                    <div class="home-card-count center-align">
                        <div class="home-card-text">
                            <div>{{unassignedConsumer_count}}</div>
                            <div class="bh4a">
                               REGISTERED
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aadhaar-img-card verifiedconsumer">
        <div class="row">
            <div class="home-cards">
                <div class="col s7" style="padding-left: 0px">
                    <div class="card-icon center-align">
                        <div class="card-icon-text">
                            VERIFIED CONSUMER
                        </div>
                    </div>
                </div>
                <div class="col s5">
                    <div class="home-card-count center-align">
                        <div class="home-card-text">
                            <div>{{verifiedConsumer_count}}</div>
                            <div class="bh4a">
                                VERIFIED
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            $(document).on('scroll',function(){
               if ($("#confirmModal").is(":visible")) {
                    $('body').addClass("fixedPosition");
                }else {
                    $('body').removeClass("fixedPosition");
                }
            }) 
        </script>
</template>