<template name="unloadCard">
    {{#HammerTouchArea gestureMap=templateGestures}}
    <div class="row cards-tabs">
        <ul id="homepage" class="tabs">
            <li class="tab col s6">
                <a class="active pending" href="#pending">UNASSIGNED</a>
            </li>
            <li class="tab col s6">
                <a href="#approved" class="approved">ASSIGNED</a>
            </li>
        </ul>
    </div>
    <div id="pending">
        <div class="cards-tile-margin aadhaar-img-card unassignPerishable">
            <div class="row">
                <div class="home-cards">
                    <div class="col s7" style="padding-left: 0px">
                        <div class="card-icon center-align">
                            <div class="card-icon-text">
                               Unload Products
                            </div>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="home-card-count center-align">
                            <div class="home-card-text">
                                <div>{{unassignPerishableProducts}}</div>
                                <div class="bh4a">
                                    UNASSIGNED
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div id="approved" class="row">
        <div class="cards-tile-margin aadhaar-img-card assignPerishable">
            <div class="row">
                <div class="home-cards">
                    <div class="col s7" style="padding-left: 0px">
                        <div class="card-icon center-align">
                            <div class="card-icon-text">
                                Unload Products
                            </div>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="home-card-count center-align">
                            <div class="home-card-text">
                                <div>{{assignedPerishableProducts}}</div>
                                <div class="bh4a">
                                    ASSIGNED
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <script>
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });
    </script>
    {{/HammerTouchArea}}
</template>