<template name="card_assignment">
    <div class="home-cards col s12" id={{id}}>
        <div class="card-icon center-align">
            <img src="{{icon}}" width="32pt" height="30pt">
            <div class="card-icon-text">
                {{title}}
            </div>
        </div>
        <div class="home-card-count">
            <div class="home-card-text col s6">
                <div>{{unassigned}}</div>
                {{#if GlobalEqual id "godown_bids_card"}}
                <div class="bh4a">
                    NEW PRODUCTS
                </div>
                {{else}}
                <div class="bh4a">
                    UNASSIGNED
                </div>
                {{/if}}
            </div>
            <div class="home-card-text col s6 hide-lt-330">
                <div>{{assigned}}</div>
                {{#if GlobalEqual id "godown_bids_card"}}
                <div class="bh4a">
                    BIDS IN PROGRESS
                </div>
                {{else}}
                <div class="bh4a">
                    ASSIGNED
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>