<template name="notification">
    <div class="container-fluid" id="notification-page">
        <div class="row" style="margin-top:45pt;">
            {{#each notifications}}
            <div class="col-12">
                <div align="center">{{GlobalformattedDate CreatedAt}}</div>
            </div>
            <div class="notificationtile" style="background-color:white;">
                <div class="notititle" data-pid={{_id}}>
                    <div>
                        <span class="h4">{{Message.Title}}</span>
                        <span class="notification-time right bh5">{{ago CreatedAt}}</span>
                    </div>
                    <div class="notidescription bh4">
                        {{Message.Body}}
                    </div>
                </div>
            </div>
            {{else}}
            {{> noData}}
            {{/each}}
        </div>
        {{#if notificationsCount}}
        <div class="row">
            <div class="center-align">
                <div class="buttonprimarycolor buttonstyle loadmore">
                    Load more
                </div>
            </div>
        </div>
        {{/if}}

    </div>
</template>