.h1 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16pt;
  color: #FFFFFF; }

.h2a {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14pt;
  color: #202022; }

.h2b {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14pt;
  color: #939292; }

.h3 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 14pt;
  color: #333333; }

.h4 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 12pt;
  color: #333333;
  text-transform: uppercase; }

.bh1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12pt;
  color: #8e24aa; }

.bh2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12pt;
  color: #525252;
  text-transform: uppercase; }

.bh3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12pt;
  color: #7c7c7c;
  line-height: 18.4pt;
  text-transform: uppercase; }

.bh4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 10pt;
  color: #939292; }

.mbh4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 10pt;
  color: #939292;
  color: black; }

.bh4a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 10pt;
  color: #606060;
  text-transform: uppercase; }

.bh5 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 8pt;
  color: #00bd13;
  text-transform: uppercase; }

/* TABS START */
.tab_bg {
  background: #FFFFFF;
  height: 40pt; }

/*tab active is bootstrep class so _m added*/
.tab_active {
  color: #8e24aa;
  width: 160pt;
  height: 2pt; }

/* TABS END */
.buttonprimarycolor {
  color: #FFFFFF;
  background-color: #8e24aa;
  text-transform: uppercase;
  font-size: 10pt; }

.buttonsecondarycolor {
  color: #FFFFFF;
  background-color: #00bd13;
  text-transform: uppercase;
  font-size: 10pt; }

.buttontertiary {
  color: #FFFFFF;
  background-color: #939292;
  text-transform: uppercase;
  font-size: 10pt; }

.buttonred {
  color: #FFFFFF;
  background-color: #e91515;
  text-transform: uppercase;
  font-size: 10pt; }

.buttonstyle {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 6pt 15pt;
  border-radius: 8pt;
  cursor: pointer;
  line-height: 1 !important; }

#sales_inventory .salesGrade {
  width: 30%;
  height: 15pt;
  margin-bottom: 5pt; }

.container-fluid {
  padding: 0; }

.backg {
  height: -webkit-fill-available;
  background: white; }

.profilerow {
  margin-bottom: 0; }
  .profilerow .header {
    background: #8e24aa;
    height: 194pt;
    padding-top: 10pt; }
    .profilerow .header .image-box img {
      width: 152pt;
      height: 152pt;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%; }
    .profilerow .header .pencil {
      position: absolute;
      bottom: 16pt;
      right: 0; }
      .profilerow .header .pencil .fa.fa-pencil {
        color: white; }
  .profilerow .information {
    background: white;
    padding: 0; }
    .profilerow .information .tab-headers {
      padding: 0; }
      .profilerow .information .tab-headers .tabs .tab a:hover, .profilerow .information .tab-headers .tabs .tab a.active {
        font-family: Roboto;
        font-weight: 500;
        font-size: 12pt;
        color: #202022;
        border-bottom: 2pt solid #8e24aa; }
      .profilerow .information .tab-headers .tabs .tab a {
        font-family: Roboto;
        font-weight: 300;
        font-size: 12pt;
        color: #939292;
        color: #7C7C7C; }
      .profilerow .information .tab-headers .tabs .indicator {
        background-color: transparent; }
    .profilerow .information .personal-info, .profilerow .information .contact-info {
      text-align: left;
      padding: 10pt;
      overflow: hidden; }
      .profilerow .information .personal-info .right, .profilerow .information .personal-info .left, .profilerow .information .personal-info .top, .profilerow .information .contact-info .right, .profilerow .information .contact-info .left, .profilerow .information .contact-info .top {
        padding: 0; }
        .profilerow .information .personal-info .right .col-12, .profilerow .information .personal-info .left .col-12, .profilerow .information .personal-info .top .col-12, .profilerow .information .contact-info .right .col-12, .profilerow .information .contact-info .left .col-12, .profilerow .information .contact-info .top .col-12 {
          padding: 0;
          margin-bottom: 10pt; }
        .profilerow .information .personal-info .right .col-12:last-child, .profilerow .information .personal-info .left .col-12:last-child, .profilerow .information .personal-info .top .col-12:last-child, .profilerow .information .contact-info .right .col-12:last-child, .profilerow .information .contact-info .left .col-12:last-child, .profilerow .information .contact-info .top .col-12:last-child {
          margin-bottom: 0; }
      .profilerow .information .personal-info .data-block, .profilerow .information .contact-info .data-block {
        padding: 0;
        float: left; }
        .profilerow .information .personal-info .data-block .title_, .profilerow .information .contact-info .data-block .title_ {
          margin-bottom: 10pt; }
        .profilerow .information .personal-info .data-block .value_, .profilerow .information .contact-info .data-block .value_ {
          margin-bottom: 0;
          font-size: 10pt; }
        .profilerow .information .personal-info .data-block input, .profilerow .information .contact-info .data-block input {
          border-bottom: 0;
          color: #202022;
          height: 19px; }
      .profilerow .information .personal-info .top, .profilerow .information .contact-info .top {
        float: none;
        margin-bottom: 10pt; }
      .profilerow .information .personal-info .right, .profilerow .information .contact-info .right {
        padding: 0 0 0 8pt; }
  .profilerow .update-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 22pt;
    margin-bottom: 20pt;
    width: 80pt; }

.enablebutton {
  opacity: inherit !important;
  pointer-events: auto !important; }

.disabledbutton {
  pointer-events: none;
  opacity: 0.4; }

nav .nav-wrapper {
  background: #8e24aa;
  padding: 0 8pt; }

.side-nav .user-view {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #8e24aa; }

.side-nav .image-container {
  background: white;
  border-radius: 50%;
  padding: 20pt;
  width: 75pt;
  height: 75pt; }

.side-nav-icons {
  width: 16pt; }

.side-nav-text {
  margin-left: 12pt;
  font-family: Roboto;
  font-Weight: 400;
  font-size: 12pt;
  text-transform: uppercase;
  color: #202022; }

nav .nav-wrapper .button-collapse img {
  width: 16pt;
  height: 16pt;
  margin-top: 17.5px; }

nav .nav-wrapper #falcalogo img {
  margin-top: 20px; }

nav .nav-wrapper ul.right li #noticount img {
  width: 12pt;
  height: 12pt;
  margin-top: 20px; }

nav .nav-wrapper ul.right li #noticount sup {
  top: -10pt;
  left: -9pt;
  background: yellow;
  font-size: 80%;
  padding: 2pt;
  text-align: center;
  border-radius: 10pt;
  color: black; }

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
  height: 48px;
  line-height: 48px;
  padding: 0 32px; }

.nested-dropdown {
  padding-left: 55pt !important; }

.nested-dropdown-icon {
  width: 12pt;
  float: right;
  margin-top: 10pt; }

.side-nav li > a {
  font-family: Roboto;
  font-Weight: 400;
  font-size: 12pt;
  text-transform: uppercase;
  color: #202022; }

.isVerified {
  color: green; }

.notVerified {
  color: red; }

.nav-grade {
  padding: 10pt 10pt 10pt 0pt; }

.nav-qty {
  padding-top: 5pt; }

#assignment_cards .row {
  margin-bottom: 8pt;
  margin-right: 8pt;
  margin-left: 8pt; }

#assignment_cards .row .col.s12 {
  padding-left: 0;
  padding-right: 0; }

.card-icon {
  background-color: #8e24aa;
  min-width: 100pt;
  height: 100%;
  padding: 25pt 18pt; }

.card-icon-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14pt;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 10pt; }

.home-card-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 26pt;
  text-transform: uppercase;
  color: #202022;
  display: inline-block;
  text-align: center; }

.home-cards {
  display: flex;
  background-color: white;
  border: 1pt solid #C6C6C6;
  height: 100pt;
  box-shadow: 0pt 2.38pt 2.38pt rgba(0, 0, 0, 0.2); }

.home-card-count {
  padding: 20pt 10pt;
  display: inline-block;
  height: 100%;
  width: 100%; }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  background: #f2f2f2;
  text-transform: capitalize; }

body {
  background: #f2f2f2; }

.sales-card {
  background-color: #8e24aa;
  height: 100pt;
  box-shadow: 0pt 2.38pt 2.38pt rgba(0, 0, 0, 0.2); }

.sales-card-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13pt;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 5pt 10pt;
  height: 50pt; }

.sales-card-count {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20pt;
  text-transform: uppercase;
  background-color: #FFFFFF;
  padding-top: 10pt;
  padding-bottom: 10pt; }

nav .nav-wrapper span.bh1 {
  color: #FFFFFF; }

nav .nav-wrapper #backbutton {
  margin-right: 24pt; }

nav .nav-wrapper #backbutton .back-behaviour-back-button-wrapper img {
  padding-top: 16px; }

.header-menu-fixed {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%; }

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 40pt;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0 auto;
  white-space: nowrap; }

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14pt;
  color: #202022; }

.cards-tabs {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 36pt; }

.cards-tile-margin {
  margin-top: 85pt; }

.tabs .tab a {
  color: #939292;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14pt;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease; }

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2pt;
  background-color: #8e24aa;
  will-change: left, right; }

.aadhaar-img-card {
  margin-bottom: 8pt;
  margin-right: 8pt;
  margin-left: 8pt; }

.tabs-cards {
  background-color: white;
  padding: 12pt;
  margin-bottom: 12pt !important;
  line-height: 1.1 !important;
  position: relative; }

.fixedPosition {
  position: fixed; }

.tabs-cards .icon {
  height: 12pt;
  margin-right: 15pt; }

.tabs-cards .valuebox {
  display: flex; }

.detail-cards-margin {
  margin-top: 55pt; }

.card-margin {
  margin-left: 8pt;
  margin-right: 8pt; }

.tabs-cards.row .col {
  padding: 0; }

.margin_name {
  margin-bottom: 2pt; }

.margin_location {
  margin-bottom: 10pt; }

.margin_date {
  margin-bottom: 5pt; }

.cardcount {
  float: right; }

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #26a69a;
  display: block;
  line-height: 15px;
  padding: 10px 16px; }

.dropdown-content li {
  min-height: 35px; }

.errormessage {
  color: red;
  font-size: 10pt;
  position: absolute;
  margin-top: -15pt;
  font-family: Roboto;
  font-weight: 400; }

.selectactive {
  position: absolute !important;
  top: -26px !important;
  font-size: 0.8rem !important; }

#transportAdd {
  width: 95%; }

.pop-title {
  padding: 12pt;
  background: #8e24aa;
  border-radius: 0pt;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14pt;
  color: #FFFFFF; }

.model-pop-body {
  padding: 12pt; }

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 12pt;
  padding-right: 6pt;
  float: right; }

.modalbutton-margin {
  margin-top: 12pt;
  margin-bottom: 12pt; }

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2; }

#notification-page {
  padding-right: 8pt;
  padding-left: 8pt; }

#notification-page .row .notificationtile {
  padding: 8pt 5pt; }

#notification-page .row .h4 {
  font-weight: 500; }

#notification-page .row .bh5 {
  text-transform: uppercase;
  color: #202022; }

.errormsg {
  width: 100%; }

.add_User {
  margin-top: -5px; }

.card-top {
  margin-top: 10px; }

.buttondisable {
  color: #ffffff;
  background-color: #939292;
  text-transform: uppercase;
  font-size: 10pt; }

.trPadding > td {
  padding: 5px; }

#login-dropdown-list {
  background: #FFFFFF;
  height: -webkit-fill-available; }
  #login-dropdown-list .image-box {
    background: #8e24aa;
    padding: 30pt; }
  #login-dropdown-list .login-form-box {
    padding-top: 15pt; }
  #login-dropdown-list .input-field input {
    text-transform: initial;
    text-align: center; }
  #login-dropdown-list label {
    text-align: center; }
  #login-dropdown-list .input-field input:focus + label {
    font-family: Roboto;
    font-weight: 400;
    font-size: 10pt;
    color: #939292; }
  #login-dropdown-list .input-field input:focus {
    box-shadow: none; }
  #login-dropdown-list div#btnsignin {
    width: 80%;
    padding-top: 9pt;
    padding-bottom: 9pt;
    border-radius: 5pt; }

.loginbtn {
  margin-top: 20pt; }

#forgotpassword-dropdown-list {
  background: #FFFFFF;
  height: -webkit-fill-available; }
  #forgotpassword-dropdown-list .image-box {
    background: #8e24aa;
    padding: 30pt; }
  #forgotpassword-dropdown-list .login-form-box {
    padding-top: 15pt; }
  #forgotpassword-dropdown-list .input-field input {
    border-bottom: 1px solid #EBEBEB !important;
    text-transform: initial;
    text-align: center; }
  #forgotpassword-dropdown-list label {
    text-align: center; }
  #forgotpassword-dropdown-list .input-field input:focus + label {
    font-family: Roboto;
    font-weight: 400;
    font-size: 10pt;
    color: #939292; }
  #forgotpassword-dropdown-list .input-field input:focus {
    border-bottom: 1px solid #EBEBEB !important;
    box-shadow: none; }
  #forgotpassword-dropdown-list div#resetPassword {
    width: 80%;
    padding-top: 9pt;
    padding-bottom: 9pt;
    border-radius: 5pt; }
  #forgotpassword-dropdown-list div#sendEmail {
    width: 80%;
    padding-top: 9pt;
    padding-bottom: 9pt;
    border-radius: 5pt; }

.placeholder {
  border: 1px solid #90a8b2;
  padding: 10pt 3pt !important;
  text-align: center;
  font-size: 6pt;
  height: 120px;
  margin-top: 10px; }
  .placeholder img {
    margin: 4pt;
    width: 70%; }
  .placeholder .bh4 {
    font-size: 8pt; }

.datepickericon {
  right: 12pt;
  position: absolute;
  width: 12pt;
  height: 12pt;
  top: 0;
  margin-top: 5%; }

.images {
  border: 1px solid #90a8b2;
  padding: 1pt !important;
  text-align: center;
  height: 120px;
  margin-top: 10px; }
  .images img {
    margin: 2pt;
    width: 70%; }
  .images .action-buttons {
    padding-left: 2pt;
    padding-right: 2pt;
    display: flex;
    justify-content: space-around; }
    .images .action-buttons img {
      height: 20pt;
      width: unset; }
  .images .bh4 {
    font-size: 8pt; }

/*# sourceMappingURL=z.css.map */
