<template name="noInternet">

    <div class="nointernet" style="
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #ffffff;
			z-index: 5;
			display:none;
			background: rgba(0,0,0,0.26);
		">
        <div style="
			position: absolute;
			top: 30%;
			background-color: #ffffff;
			height: 150px;
			width: 100%;
			padding: 10px;
		">
            <div class="h1m" style="text-align: center;">
                No Internet Connection
            </div>
            <div style="
			margin-top: 5px;
			font-size: 15px;
			text-align: center;
		">
                We can not detect any internet connectivity.Please check your internet connection to continue.</div>

        </div>
    </div>

    <style>
        .h1m {
            text-transform: uppercase;
            font-family: Roboto;
            font-Weight: 300;
            font-size: 18pt;
            color: #202022;
        }
    </style>

</template>